:root {
  --clr-blue-200: hsl(229, 23%, 23%);
  --clr-green-180: hsl(85, 75%, 39%);
  --clr-blue-150: hsl(227, 10%, 46%);
  --clr-blue-80: hsl(0, 0%, 59%);
  --font-Kumbh: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-Kumbh);
  display: grid;
  place-items: center;
  background-color: rgb(47, 164, 168);
  background-image: url("./assets/images/bg-pattern-bottom.svg"),
    url("./assets/images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top -200% left -20%, bottom -200% right -20%;
}

.card {
  width: min(25rem, 90%);
  border-radius: 0.5rem;
  display: grid;
}

.card .bg-section {
  padding: 5rem 0;
  background-image: url('../assets/images/bg-pattern-card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card .card__profile {
  width: 100%;
  background-color: white;
  text-align: center;
}

.card .card__profile > img {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -3.5rem;
}

.card .card__profile > h3 {
  color: var(--clr-blue-200);
  font-family: var(--font-Kumbh);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

.card .card__profile > h3 > span {
  color: var(--clr-blue-80);
}

.card .card__profile > p {
  color: var(--clr-blue-80);
  margin-top: -2rem;
  padding: 0.5rem 0 2rem 0;
}

.card hr {
  /* height: 2rem; */
  border: 0.1px solid var(--clr-blue-80);
  background-color: var(--clr-blue-80);
  border-radius: 0.3rem;
}

.card .card__stats {
  background-color: white;
  color: var(--clr-blue-200);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 0;
}

.card .card__stats > p > span {
  color: var(--clr-blue-80);
  font-size: 1rem;
  font-weight: normal;
}

@media screen and (max-width: 300px) {
  .card .card__stats {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: rgb(47, 164, 168);
    background-repeat: no-repeat;
    background-size: 50%, 42%;
    background-position: top 400% left -30%, bottom -600% right -15%;
  }
}

@media screen and (width: 1440px) {
  body {
    width: 100%;
    height: 100%;
    font-family: var(--font-Kumbh);
    display: grid;
    place-items: center;
    background-color: rgb(47, 164, 168);
    background-image: url("./assets/images/bg-pattern-bottom.svg"),
      url("./assets/images/bg-pattern-top.svg");

    background-repeat: no-repeat;
    background-size: 50%, 42%;
    background-position: top 400% left -30%, bottom -1500% right -15%;
  }
}
